@page "/twitchbot"

<div class="container align-content-center">
    <h1>Login on chat:</h1>
</div>

<div class="container">
    <form type="POST" action="/twitchbot/@channel">
        <div class="col-md-12 align-content-center">
            <input @bind-value="channel" class="form-group" />
            <input type="submit" value="Submit" class="btn btn-success" />
        </div>
    </form>
</div>

@code {
    private string channel;
}
